@use '../abstracts/vars.scss' as *;

body {
  background-color: $clr-nt-lgr;
}

body,
button {
	font-family: $ff-pm;
	font-size: 16px;
}

body {
  background-image: url('/src/images/image-hero-mobile.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 1.5;
  color: $clr-nt-gr;
  overflow: auto;
}

::-webkit-scrollbar { display: block; }

::-webkit-scrollbar-thumb { 
  background-color: rgba(128, 128, 128, 0.45);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
 }

h1, h2, h3 {
  font-weight: 700;
  color: $clr-nt-blk;
}

h1 { font-size: 1.3rem; }

h2 { font-size: 1.15rem; }

h3 { font-size: 1.05rem; }

button {
  font-weight: 500;
  background-color: $clr-pm-cyan;
  border: none;
  border-radius: 3rem;
  color: white;
  padding: 0.75rem 2rem;
}

button:hover {
  background-color: $clr-pm-Dcyan;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.btn--clear {
  padding: 0;
  background-color: hsla(0deg, 0%, 100%, 0);
}

.btn--clear:hover {
  opacity: 50%;
  background-color: hsla(0deg, 0%, 100%, 0);
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  max-width: 800px;
  margin-inline: auto;
}

.card--inner {
  border: 2px solid $clr-nt-lgr;
}

.card > * + * {
  margin-top: 1rem;
}

.card + * {
  margin-top: 1.5rem;
}

.number {
  font-size: 1.5rem;
  font-weight: 700;
  color: $clr-nt-blk;
}

.page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

@media (min-width: 950px) {
  body {
    background-image: url('/src/images/image-hero-desktop.jpg');
  }

  .card {
    padding-inline: 3rem;
  }

  .card--inner {
    padding-inline: 1rem; 
  }
}