@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$clr-pm-cyan: hsl(176, 50%, 47%);
$clr-pm-Dcyan: hsl(176, 72%, 28%);

$clr-nt-blk: hsl(0, 0%, 0%);
$clr-nt-gr: hsl(0, 0%, 48%);
$clr-nt-lgr: hsl(0,0%,98%);

$ff-pm: 'Commissioner', sans-serif;