@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: hsl(0deg, 0%, 98%);
}

body,
button {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
}

body {
  background-image: url("../../../images/image-hero-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 1.5;
  color: hsl(0deg, 0%, 48%);
}

h1, h2, h3 {
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.15rem;
}

h3 {
  font-size: 1.05rem;
}

button {
  font-weight: 500;
  background-color: hsl(176deg, 50%, 47%);
  border: none;
  border-radius: 3rem;
  color: white;
  padding: 0.75rem 2rem;
}

button:hover {
  background-color: hsl(176deg, 72%, 28%);
}

.hidden {
  display: none;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}

.card > * + * {
  margin-top: 1rem;
}

.card + * {
  margin-top: 1.5rem;
}

.number {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}

.navbar {
  box-shadow: inset 0 3rem 40px -30px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}
.navbar .nav_btn {
  padding: 0;
  background-color: hsla(0deg, 0%, 100%, 0);
}

.content {
  width: 90%;
  margin-inline: auto;
  margin-top: 11rem;
}
.content .content_header {
  padding-top: 2.5rem;
  text-align: center;
  position: relative;
}
.content .content_header .mLogo {
  display: inline;
  position: absolute;
  top: -1.75rem;
  left: calc(50% - 28px);
}
.content .content_header .content_header_btnContainer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.content .content_header .content_header_btnContainer .backer_btn {
  padding-inline: 3rem;
}
.content .content_header .content_header_btnContainer .bookmark_btn {
  padding: 0;
  box-shadow: none;
  background-color: white;
}
.content .content_header .content_header_btnContainer .bookmark_on svg circle {
  fill: hsl(176deg, 72%, 28%);
}
.content .content_header .content_header_btnContainer .bookmark_on svg path {
  fill: white;
}
.content .content_totals {
  text-align: center;
}
.content .content_totals .totals_line {
  margin-inline: auto;
  width: 4rem;
  border-bottom: 1px solid hsl(0deg, 0%, 48%);
}
.content .content_totals .totals_bar {
  height: 0.75rem;
  border-radius: 2rem;
}
.content .content_totals .totals_percentage_container {
  background-color: hsl(0deg, 0%, 98%);
}
.content .content_totals .totals_percentage {
  background-color: hsl(176deg, 50%, 47%);
  width: 90%;
}
.content .content_about .tier {
  border: 2px solid hsl(0deg, 0%, 98%);
}
.content .content_about .tier .tier_minimum {
  color: hsl(176deg, 50%, 47%);
  font-weight: 500;
}
.content .content_about .tier .tier_remaining {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .content_about .tier .tier_select_btn {
  margin-top: 1rem;
}
.content .content_about .tier .tier_select_btn--oos {
  background-color: hsl(0deg, 0%, 48%);
  opacity: 50%;
}/*# sourceMappingURL=main.css.map */